
#popup {
	min-width:400px;
	min-height:40px;
	max-width:100%;
	max-height:100%;
}

.row {
	margin:0px;
	border:0px;
	padding:0px;
}
.btn-group {
	margin:5px;
	margin-top:-5px;
	border:0px;
	padding:0px;
}

* {
	/*background-color:#b3ffff;*/
	text-align:center;
	font-family: Verdana, Helvetica;
}

h1 {
	text-align: center;
}
h2 {
	font-size:200px;
	color:red;
}
h4 {
	font-size:20px;
}

.dividerLine {
	height:2px;
	width:80%;
	margin-left:10%;
	background-color:gray;
	margin-bottom:40px;
	display:block;
}

.jr-dropdown {
	width:45px;
	height:35px;
	align-self: center;
	border-radius:5px;
	box-shadow: 0px;
	text-shadow: 0px;
	border-width: 1px;
	border-color: lightyellow;
	margin-left:15px;
}

.jr-text-box {
	max-width: 5000px;
	width:400px;
	height:35px;
	align-self: center;
	border-radius:5px;
	box-shadow: 0px;
	text-shadow: 0px;
	border-width: 1px;
	border-color: lightyellow;
	margin-left:15px;
}

.form-group {
	text-align:left;
}

hr {
	height:10px;
	font-color:blue;
}

body {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color:#dfe5ec;/*a light, desaturated blue*/
}
p {
	padding-left:10%;
	padding-right:20%;
}
.homeMainText {
	text-align:left;
}
.makeRed {
	color:#c91d1d;
}
.makeGreen {
	color:#1f7a1f;
}
.jumboText {
	text-align:center;
	font-size:16px;
	margin-left:60px;
	margin-right:60px;
}
#linklink {
	color:#c91d1d;
}
#linklink:hover {
	color:#1f7a1f;
	text-decoration:none;
}
#linklink:active {
	color:#0f3d0f;
}

#terms {
	visibility: hidden;
}
#revealLink {
	color:#c91d1d;
	/*text-decoration:underline;*/
}
#revealLink:hover {
	color:#1f7a1f;
	text-decoration:none;
}
#revealLink:hover #terms {
    display:block;
}

#toForm {
	font-size: 2em;
	/*padding:5%;*/
	border-radius:10px;
	height:100px;
	width:240px;
	border-width:3px;
	/*background-color:#1a88ff;/*a nice blue*/
	/*color:#1a1a1a;/*a very dark gray*/
}
.jumbotron {
	display: block;
}

div {
	margin: 30px;
}

h1 {
	text-align: center;
}
h3 {
	text-decoration: bold;
	color:blue;
	text-decoration-color: blue;
}